/* Main */
* {
	padding:0px;
	margin:0px;
    font-family: 'Titillium Web', sans-serif;
}

body {
	background-color: #fff;
}

::-moz-selection {
	background: #444;
}
::selection { 
	background: #444;
}

h1 {
    text-align: right;
	font-weight: 600;
    position: relative;
}

p {
    display: inline;
}

p.hard{
    font-weight: 600;
}

p.soft{
    font-weight: 400;
}

#stuff {
    margin-top: 16px;
}

a:link {
	text-decoration: none;
    color: #7DE7FF;
}
a:visited {
	text-decoration: none;
    color: #7DE7FF;
}
a:hover {
	text-decoration: none;
    color: #7DE7FF;
}
a:active {
	text-decoration: none;
    color: #7DE7FF;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 50;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 27em;
    height: auto;
    position: relative;
}

hr.hr1 {
    border: 0;
    height: 1px;
    background: #23242B;
    background-image: linear-gradient(to right, #fff, rgba(0,0,0,0.8), #fff);
}

div#b1 {
    visibility: visible;
    background-color: #7C4006;
    background: -webkit-linear-gradient(#fff, #E2E2E2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #E2E2E2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #E2E2E2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #E2E2E2); /* Standard syntax */
    height: 50%;
    width: 100%;
    bottom: 0px;
    position: absolute;
}

.img-circle {
    border-radius: 50%;
    width: 150px;
    border-color: black;
    border-width: 5px;
    margin-top: 2em;
    display: inline;
}

#circle-shape-example .curve { 
  width: 33%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}